<h1>Editing document</h1>

<% form_for(@document) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </p>
  <p>
    <%= f.label :document_type %><br />
    <%= f.text_field :document_type %>
  </p>
  <p>
    <%= f.label :doc_number %><br />
    <%= f.text_field :doc_number %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :fname_suffix %><br />
    <%= f.text_field :fname_suffix %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @document %> |
<%= link_to 'Back', documents_path %>
