<h1>New document</h1>

<% form_for(@document) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :project %><br />
    
    <select id="project_id" name="document[project_id]">
     <%= options_from_collection_for_select @prjlist, "id", "name"  , selected=@document.project_id %>
     </select>
    
  </p>
  Project : <%=session[:project_id] %>
  <p>
    <%= f.label :document_type %><br />
        <select id="document_type_id" name="document[document_type_id]">
        <%= options_from_collection_for_select @typlist, "id", "name"  , selected=@document.document_type_id %>
          </select>
  </p>
  <p>
    <%= f.label :doc_number %><br />
    <%= f.text_field :doc_number %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :fname_suffix %><br />
    <%= f.text_field :fname_suffix %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', documents_path %>
