<p>
  <b>Id:</b>
  <%=h @document.id %>
</p>

<p>
  <b>Project:</b>
  <%=h @document.project.name %>
</p>

<p>
  <b>Document type:</b>
  <%=h @document.document_type.name %>
</p>

<p>
  <b>Doc number:</b>
  <%=h @document.doc_number %>
</p>

<p>
  <b>Description:</b>
  <%=h @document.description %>
</p>

<p>
  <b>Fname suffix:</b>
  <%=h @document.fname_suffix %>
</p>

<%= link_to 'New version', new_document_version_path(:document_id=>@document.id)  %>
<%= render :partial => "versionlist" %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
