<p>
  <b>Id:</b>
  <%=h @document.id %>
</p>

<p>
  <b>Project:</b>
  <%=h @document.project %>
</p>

<p>
  <b>Document type:</b>
  <%=h @document.document_type %>
</p>

<p>
  <b>Doc number:</b>
  <%=h @document.doc_number %>
</p>

<p>
  <b>Description:</b>
  <%=h @document.description %>
</p>

<p>
  <b>Fname suffix:</b>
  <%=h @document.fname_suffix %>
</p>

<%= render :partial => "versionlist" %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
