<h1>Listing document_versions</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Document</th>
    <th>Version</th>
    <th>Extension</th>
    <th>Author</th>
    <th>Released</th>
    <th>Reviewed</th>
    <th>Reviewref</th>
    <th>Accepted</th>
    <th>With comments</th>
    <th>Completed</th>
    <th>Paper</th>
    <th>Testresult doc</th>
  </tr>

<% for document_version in @document_versions %>
  <tr>
    <td><%=h document_version.id %></td>
    <td><%=h document_version.document.fname_suffix %></td>
    <td><%=h document_version.version %></td>
    <td><%=h document_version.extension %></td>
    <td><%=h document_version.author %></td>
    <td><%=h document_version.released %></td>
    <td><%=h document_version.reviewed %></td>
    <td><%=h document_version.reviewref %></td>
    <td><%=h document_version.accepted %></td>
    <td><%=h document_version.with_comments %></td>
    <td><%=h document_version.completed %></td>
    <td><%=h document_version.paper %></td>
    <td><%=h document_version.testresult_doc %></td>
    <td><%= link_to 'Show', document_version %></td>
    <td><%= link_to 'Edit', edit_document_version_path(document_version) %></td>
    <td><%= link_to 'Destroy', document_version, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New document_version', new_document_version_path %>
